@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #12908e; */
  background-color: #60dfcd;
  background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);

  font-family: 'Ubuntu Mono', monospace;
  color: white;
  font-size: 16px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  width: 60%;
  margin: 50px auto;
  padding-top: 20px;
  text-align: center;
  /* border: white solid 1px; */
}
h1 {
  font-size: 4rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/***************************************
               FORM
***************************************/
.form {
  margin: 60px auto 0;
  width: 60%;
  /* border: white solid 1px; */
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.form__zip,
.form__feeling {
  border: none;
  border-bottom: solid 2px white;
  background-color: transparent;
  padding: 10px 15px 10px 10px;
  margin-right: 30px;
  margin-bottom: 30px;
  caret-color: white;
  color: white;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
}
.form__feeling {
  resize: none;
}
.form__zip,
.form__feeling:focus {
  outline: none;
}
.form__zip::placeholder,
.form__feeling::placeholder {
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
.form__submit {
  background-color: #d86d4e;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border: none;
  padding: 12px 12px;
  border-radius: 4px;
  margin-top: 30px;
}
.form__submit:hover {
  cursor: pointer;
  /* opacity: 0.75; */
  background-color: #ff5959;
}
.form__submit:focus {
  outline: none !important;
}

/***************************************
               RESULT
***************************************/
.result {
  margin-top: 60px;
  background-color: white;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  color: #1e9afe;
  display: flex;
  display: column;
  align-items: center;
}
.result > * {
  margin-top: 10px;
}
/* .result__zip {
}
.result__feeling {
}
.result__temp {
}
.result__date {
}  */
